<html>
<title>Historia</title>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/default.css')}}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/component.css')}}"/>
    <script src="{{ url_for('static', filename='js/modernizr.custom.js')}}"></script>
</head>
<div class="header">
    <h1>
        <center><font size="14" color="white">Historia</font></center>
    </h1>
</div>

<div style="float:left;width:50%; position:relative;">
    <p><a class="btn btn-4 btn-4d icon-arrow-left" href="{{ url_for('index') }}">WRÓĆ</a></p>
    <form action="/delete_history" method="post">
        <p>
            <button class="btn btn-4 btn-4c icon-arrow-right" name="forwardBtn" onclick="delete_history_files()"
                    value="delete_history"> Usuń Pliki
            </button>
        </p>
    </form>

</div>

<body>
<div style="float:center; width:50%;position:relative;">
    <div style="float:right;width: 50%;position:relative;">
        <!--section class="color-9"-->
        {%- for item in tree_h_lokale %}
        <p><a class="btn1 btn1-10 btn1-10d icon-arrow-left" href="/static/backup/lokale_mieszkalne/{{ item }}">{{ item
            }}</a></p>
        {%- endfor %}
    </div>

</body>
</html>

