<html>
<title>Konwersja PDF2Excel</title>

<body>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap_new.css') }}">
<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
 <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
 <script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
 <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>


<header class="masthead border-bottom border-white ">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
          <font size="5" color="white"><h1 fontclass="font-weight-light">KONWERSJA XLSX</h1></font>
      </div>
    </div>
  </div>
</header>
<div class="container-2 h-100 w-100 float-left">
    <div class="row h-100 w-100">
        <div class="col-md-4 ">
<form action="" method=post enctype=multipart/form-data>
    <!--body bgcolor="#2ecc71"-->
    <a class="zr"></a>
        <!--section class="color-9"-->
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('lokale_mieszkalne') }}">KONWERTUJ</a></p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('history') }}">HISTORIA</a></p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('shutdown') }}">WYŁĄCZ</a></p>
</form>
        </div>
    </div>
</div>
</body>


</html>
